@model EPS.UI.Portal.Models.PatrolSchemeModel

@{
    ViewBag.Title = "DeleteSchemeById";
}

<h2>删除页面</h2>

<h3>确定要删除吗?</h3>
<div>
    <h4>PatrolScheme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatrolRouteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatrolRouteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchemeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchemeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "SchemeList")
        </div>
    }
</div>
