@using EPS.UI.Portal.Models
@{
    ViewBag.Title = "SchemeList";
    List<PatrolSchemeModel> patrolSchemeList = ViewBag.Model as List<PatrolSchemeModel>;
}

<button type="button" class="btn btn-block btn-primary btn-lg">@Html.ActionLink("添加", "AddScheme", "Transaction", new { }, new { style = "color:#ffffff" })</button>

<div class="box">
    @*<div class="box-header">
            <h3 class="box-title">Hover Data Table</h3>
        </div>*@
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>计划编号</th>
                    <th>计划制定人</th>
                    <th>巡检路线</th>
                    <th>计划时间</th>
                    <th>巡检开始时间</th>
                    <th>巡检结束时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var patrolScheme in patrolSchemeList)
                {
                    <tr>
                        <td>@patrolScheme.Number<input type="hidden" name="id" value=@patrolScheme.Id /></td>
                        <td>@patrolScheme.EmployeeName<input type="hidden" name="employeeId" value=@patrolScheme.EmployeeId /></td>
                        <td>@patrolScheme.PatrolRouteName<input type="hidden" name="patrolRouteId" value=@patrolScheme.PatrolRouteId /></td>
                        <td>@patrolScheme.SchemeDate.ToString("yyyy-MM-dd")</td>
                        <td>@patrolScheme.StartDate.ToString("yyyy-MM-dd")</td>
                        <td>@patrolScheme.EndDate.ToString("yyyy-MM-dd")</td>
                        <td><input type="submit" value="删除" /></td>
                        @*<td>@patrolScheme.DefectType<input type="hidden" name="defectTypeId" value=@patrolScheme.DefectTypeId /></td>*@
                    </tr>
                }
            </tbody>
            @*<tfoot>
                    <tr>
                        <th>Rendering engine</th>
                        <th>Browser</th>
                        <th>Platform(s)</th>
                        <th>Engine version</th>
                        <th>CSS grade</th>
                    </tr>
                </tfoot>*@
        </table>
    </div>
    <!-- /.box-body -->
</div>